
.industries-served{
    padding: 16px;
    margin-bottom: 76px;
    background: #fffef3;
}
.industries-served-heading{
    text-align: center;
    font-size: 28px;
    line-height: 1.2;
    color:#000;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
    margin-bottom: 1em;
}
.industries-images-container{
    display: flex;
    justify-content: space-between;
}
.signup-container{
    margin-bottom: 50px;
}
.signup-inner-container{
    display: flex;
    align-items: center;
    padding: 16px 100px;
}
.signup-left-half{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1;
}
.signup-left-heading{
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 1.2;
    color:#000;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
}
.signup-left-half p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1em;
}
.signup-button{
    text-decoration: none;
    height: 40px;
    padding: 8px 42px;
    margin-top: 18px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: red;
    border-radius: 8px;
}
.signup-right-half{
    display: flex;
    justify-content: flex-end;
    flex: 1 1;
}
.signup-right-half img{
    object-fit: contain;
    width: 280px;
    height: 360px;
}
.video-container{
    margin-bottom: 50px;
}
.video-thumbnail{
    position: relative;
    height: 450px;
    cursor: pointer;
}
.video-play-button{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
}
.video-know-more-section{
    background-color: red;
}
.video-know-more-inner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video-know-more-details{
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}
.video-know-more-heading{
    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;
    font-family: "Ubuntu",sans-serif;
    margin-bottom: 10px;
    color: white;
}
.video-know-more-subheading{
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}
.video-know-more-button{
    background-color:#fbdc00;
    color: black;
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #fbdc00;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    font-family: "PT Sans",sans-serif;
}

.blogs-inner-container{
    display: flex;
    flex-direction: column;
}
.blogs-heading{
    text-align: center;
    font-size: 28px;
    margin-bottom: 1em;
    color:#000;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
}
.all-blogs{
    display: flex;

}
.blog-item{
    width: calc(calc(100% / 3) - 20px);
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px hsl(0deg 0% 79% / 50%);
    display: flex;
    flex-direction: column;
}
.blog-data{
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
}
.blog-red-title{
    color: red;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
}
.blog-black-title{
    color: black;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
}
.blog-content-overview{
    max-height: 4.9em;
    overflow: hidden;
    color: black;
    margin-bottom: 8px;
    font-size: 16px ;
}
.blog-read-more-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.read-more-button{
    color: red;
    display: flex;
    align-items: center;
    cursor: pointer; 
    font-weight: 700;
}
.read-more-button img,.find-out-more img,.navbar-item:hover{
    filter: invert(14%) sepia(90%) saturate(7099%) hue-rotate(354deg) brightness(106%) contrast(123%);
}
.blog-date{
    color: #9a9a9a;
    margin-bottom: 5px;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
}
.blog-button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 4px;
    height: 36px;
    padding: 8px 42px;
    font-weight: 700;
}

.news-letter{
    margin-top: 20px;
}
.newsletter-upperhalf{
    height: 8.5em;
    background-color: #fbdc00;
}
.newsletter-design{
    background-color: white;
    height: 7em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.newsletter-lowerhalf{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbdc00;
    position: relative;
}
.news-letter-image{
    width: 20%;
    padding: 20px;
    margin: 20px;
}
.newsletter-heading{
    font-size: 28px;
    line-height: 1.2;
    color: black;
    font-family: "Ubuntu",sans-serif;
    font-weight: bold;
}
.newsletter-description{
    font-size: 16px;
}
.newsletter-email-container{
    margin-top: 20px;
    display: flex;
}
.newsletter-email-input{
    width: 250px;
    height: 40px;
    padding: 10px;
    border: 2px solid transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
}
.newsletter-submit-button{
    color:#fff;
    background-color: red;
    border: 1px solid red;
    min-width: 72px;
    padding: 4px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    cursor: pointer;
    font-weight: 700;
    width: 120px!;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.newsletter-submit-button img{
    margin-left: 5px;
    filter: invert(100%) sepia(6%) saturate(222%) hue-rotate(219deg) brightness(113%) contrast(100%);
}



